{% extends "base.html" %}
{% load static %}

{% block title %}About Me | MySite{% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'home/css/about_page.css' %}"> 
{% endblock %}

{% block content %}

<section class="about">


<h1>About Me</h1>

<h2>Kaushal Karn</h2>

<p>
    Hello! My name is Kaushal Karn. I am a BSc.CSIT student
    interested in software development and web development.
    I enjoy learning new technologies and building practical
    applications.
</p>


<h2>Education</h2>

<p>
    I am currently studying BSc.CSIT at Mahendra Morang Aadarsh
    Multiple Campus, Tribhuvan University, Biratnagar, Nepal.
</p>


<h2>Skills</h2>

<ul>
    <li>Python</li>
    <li>Django</li>
    <li>C / C++</li>
    <li>HTML & CSS</li>
    <li>JavaScript</li>
    <li>Git & GitHub</li>
    <li>MySQL / SQLite</li>
</ul>


<h2>Interests</h2>

<ul>
    <li>Web Development</li>
    <li>Backend Development</li>
    <li>Artificial Intelligence</li>
    <li>Machine Learning</li>
    <li>Open Source</li>
</ul>


<h2>Projects</h2>

<ul>
    <li>Django E-commerce Application</li>
    <li>Django Blog Application</li>
    <li>Git Learning Platform</li>
    <li>AdvanceSpotify</li>
    <li>Machine Learning Projects</li>
</ul>


<h2>Goal</h2>

<p>
    My goal is to become a skilled software developer and build
    useful real-world applications while continuously improving
    my programming and problem-solving skills.
</p>


<h2>Contact</h2>

<p>
    GitHub: kaushal-karna
</p>


</section>

{% endblock %}
